.data-card {
	border: 1px solid #ccc;
	padding: 20px;
	margin: 20px;
	border-radius: 8px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 700px) {
	.data-card {
		padding: 10px;
		margin: 5px;
	}
}

.card-header {
	display: flex;
	align-items: center;
}

.card-header-span {
}

/* .entry {
  margin: 10px 0;  
} */

hr {
	margin: 15px 0;
	border-top: 1px solid #e0e0e0;
}

.arrow-icon {
	cursor: pointer;
	margin-left: 10px;
	color: #e3c087;
}

.data-card-song-title {
	font-weight: 600;
	font-size: 16px;
}

.data-card-song-artist {
	color: #f5cd8d !important;
}

.data-card-headphone-icon {
	margin-left: 10px;
	color: #e3c087;
	font-size: 13px;
}
