.data-card {
	border: 1px solid var(--border-color);
	padding: 20px;
	margin: 20px;
	border-radius: 8px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 700px) {
	.data-card {
		padding: 10px;
		margin: 5px;
	}
}

.card-header {
	display: flex;
	align-items: center;
}

hr {
	margin: 15px 0;
	border-top: 1px solid var(--entry-border-color);
}

.arrow-icon {
	cursor: pointer;
	margin-left: 10px;
	color: var(--highlight-color);
}

.data-card-song-title {
	font-weight: 600;
	font-size: 16px;
}

.data-card-song-artist {
	color: var(--songs-text-main-color) !important;
}

.data-card-headphone-icon {
	margin-left: 10px;
	color: var(--headphone-icon-color);
	font-size: 13px;
}
