

.leaderboard-main {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 20px; /* Adds space between the divs */
	/* padding: 20px; */
	margin: 0 100px;
}

.leaderboard-top-picks,
.leaderboard-top-artists,
.leaderboard-top-songs {
	flex: 1;
	text-align: center; /* Centers content within each section */
	/* padding: 10px; */
}

.leaderboard-table {
	width: 100%;
	padding: 10px;
	border-spacing: 0 10px; /* Add space between rows */
	background-color: var(--background-color);
}

.leaderboard-user,
.leaderboard-track-count {
	padding: 8px 15px;
	text-align: left;
}

.leaderboard-user {
	font-weight: bold;
	color: var(--text-color);
	width: 200px;
	padding: 8px 15px;
	word-wrap: break-word; /* Breaks long text to the next line */
	white-space: normal; /* Allows wrapping */
}

.song-title {
	font-size: 1.1rem;
	font-weight: bold;
	overflow-wrap: break-word;
}

.song-artist {
	font-size: 0.9rem;
	color: var(--border-color-secondary); /* Light gray or secondary color */
	margin-top: 5px;
	overflow-wrap: break-word;
}

.leaderboard-track-count {
	padding: 8px 15px;
	text-align: right;
	color: var(--songs-text-main-color);
}

@media (max-width: 1300px) {
	.leaderboard-user {
		width: 60%;
	}
}

@media (max-width: 1000px) {
	.leaderboard-main {
		flex-direction: column;
		margin: 0 150px;
	}
	.leaderboard-user {
		width: 80%;
	}
}

@media (max-width: 700px) {
	.leaderboard-user {
		width: 70%;
	}
	.leaderboard-main {
		margin: 0 35px;
	}
}
