.vault-button-component {
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  justify-content: center;  
  margin: 15px 0px;  
}

.vault-button {
  background-color: hsl(210, 10%, 20%);
  color: hsl(45, 70%, 65%);  
  border: 1px solid hsl(45, 70%, 65%);
  padding: 15px;
  cursor: pointer;
}

.vault-button:hover {
  background-color: hsl(45, 70%, 65%);
  color: hsl(210, 10%, 20%);  
}
